@import '_config';

// CENTRAL STYLING
html{
    // background-color: $background-color;
    background-color: #1a1a1a;
    color: $primary-text-color;
    font-size:16px;
    height:100%;
    line-height: 24px;
    margin: 0;
    min-height:100%;
    padding:0;
    @media only screen and (max-width : $container + 47){
        overflow-x: hidden;
    }
    body{
        padding:0;
        margin: 0;
        font-family: $font-family;
    }
}

.main-container{
    background-color: $container-color;
    margin:0 auto;
    max-width: $container;
    min-height:100%;
    position: relative;
    width: 100%;
}


// HEADINGS
$head-number: 5;

@while $head-number > 0{
    h#{$head-number}{
        color: $primary-text-color;
        font-size: 1rem + (2rem / $head-number);
        line-height: ((1rem + (2rem / $head-number)) * $golden-ratio );
        font-weight:normal;
        margin: 0;
    }
    $head-number: $head-number - 1;
}


// SEE ALL


// PARAGRAPHS
.intro-text{
    // background-color: #273a40;
    box-sizing: border-box;
    color: #273a40;
    display: table;
    font-size: 1rem;
    line-height: 1.5rem;
    margin: 0 auto;
    padding: #{$spacing * 3} 15%;
    width: 100%;
}

// IMAGES
.logo-container{
    background-color: $background-color;
    width:100%;
}
.logo{
    display: table;
    margin: 0 auto;
    width: 15rem;
}

// LISTS
ul{
    font-size: .75rem;
    margin: #{$spacing / 2} 0;
    padding: 0;
    li{
        list-style: none;
        padding: 0 #{$padding / 2};
    }
}

// FOOTER
footer{
    position: relative;
    max-width: $container;
    width: 100%;
    display: table;
    margin:0 auto;
}